.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.itemMenu {
  display: flex !important;
  -webkit-box-align: center;
  align-items: center;
}

.countItem li a::before {
  content: "0" counter(item) ".";
  margin-right: 5px;
  color: #64ffda;
  font-size: var(--fz-xxs);
  text-align: right;
}

.countItem a.menu {
  margin: 0px 5px;
  position: relative;
  font-size: 14px;

}

.countItem a.menu:hover {
  color: #64ffda;
}

.countItem a.menu:focus {
  color: #64ffda;
}

.resumeDownload button {
  border: 1px solid #64ffda;
}

.resumeDownload button:hover {
  border: 1px solid #64ffda;
}


.headerNav {
  height: 70px;
  transform: translateY(0px);
  background-color: rgba(10, 25, 47, 0.85) !important;
  box-shadow: rgba(2, 12, 27, 0.7) !important;
}

/* margin: 0px 0px 30px 4px;
color: var(--green);
font-family: var(--font-mono);
font-size: clamp(var(--fz-sm),5vw,var(--fz-md));
font-weight: 400; */
.App {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding-left: 25px;
  padding-right: 25px;
}

/* main.fullHeight {
  padding: 0px 150px;
} */
main {
  margin: 0px auto;
  width: 100%;
  max-width: 1600px;
  min-height: 350vh;
  padding-top: 200px;
}

section {
  margin: 0px auto;
  padding: 100px 0px;
  max-width: 1000px;
}

.number-about::after {
  content: "";
  display: block;
  position: relative;
  top: 0;
  width: 300px;
  height: 1px;
  margin-left: 20px;
  background-color: #8892b0;
  bottom: 0;
}

ul.skill-lists {
  display: grid;
  grid-template-columns: repeat(3, minmax(140px, 200px));
  gap: 0px 10px;
  padding: 0px;
  margin: 20px 0px 0px;
  overflow: hidden;
  list-style: none;
}

ul.skill-lists li {
  font-size: 13px;
  font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", monospace;
  position: relative;
  margin-bottom: 10px;
  color: #8892b0;
  padding-left: 20px;
}

ul.skill-lists li::before {
  content: "▹";
  position: absolute;
  left: 0px;
  color: #64ffda;
  line-height: 12px;
}

svg#triangle {
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  min-height: 100vh;
}

a.panelLink {
  color: #64ffda;
  text-decoration: none;
}

a.panelLink:hover {
  color: #64ffda;
  text-decoration: underline;
}

ul.list-details {
  padding-left: 0px;
}

ul.list-details li {
  list-style: none;
  position: relative;
  padding-left: 30px;
  margin-bottom: 10px;
  font-size: 17px;
}

ul.list-details li:before {
  content: "▹";
  left: 0px;
  color: #64ffda;
  padding-right: 12px;
  ;
  position: absolute;
}

.wrapper img {
  --s: 300px;
  /* the size of the image */
  --b: 3px;
  /* the border thickness*/
  --g: 2px;
  /* the gap */
  --c: #64ffda;
  /* the color */

  width: var(--s);
  aspect-ratio: 1;
  outline: calc(var(--s)/2) solid #64ffda8c;
  outline-offset: calc(var(--s)/-2);
  cursor: pointer;
  transition: 0.3s;
}

.wrapper img:hover {
  outline: var(--b) solid var(--c);
  outline-offset: var(--g);
}



@media only screen and (max-width: 600px) {
  ul.list-details li {
    position: inherit;
    padding-left: 0px;

  }

  ul.skill-lists {

    grid-template-columns: repeat(2, minmax(140px, 200px));

  }
}

@media only screen and (max-width: 768px) {
  .tabBorder {
    border-right: none !important;
  }
}

@media only screen and (max-width: 1024px) {
  section {
    max-width: 800px;
  }
}



.image-wrapper-projects {
  background: #112240;
  box-shadow: 0 10px 30px -15px rgb(2 12 27 / 70%);
  -webkit-box-pack: justify;
  display: flex;
  justify-content: space-between;
  -webkit-box-align: center;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  height: 100%;
  padding: 2rem 1.75rem;
  border-radius: 4px;
  overflow: auto;
  transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.top-wrapper {
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
  margin-bottom: 35px;
}

.top-wrapper .folder svg {
  width: 40px;
  height: 40px;
  color: #64ffda;
}

.top-wrapper .project-links a {
  color: #a8b2d1;
}

.project-footer ul {
  padding-left: 0;
}

.project-footer ul li {
  list-style: none;
  display: inline-block;
  padding-right: 11px;
}

ul.language-lists {
  font-size: 13px;
  font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", monospace;
  position: relative;
  margin-bottom: 10px;
  color: #8892b0;
}

.image-wrapper-projects:hover {
  transform: translateY(-7px);
  cursor: pointer;
}

#groupWrap:hover .project-title h3 {
  color: #64ffda;
}

.project-title a {
  text-decoration: none;
}

.project-links a:hover {
  color: #64ffda;
}

.top-wrapper .project-links a {
  padding: 5px 7px;
}

.right {
  width: 40px;
  position: fixed;
  bottom: 0px;
  left: auto;
  right: 40px;
  z-index: 10;
}

.left {
  width: 40px;
  position: fixed;
  bottom: 0px;
  left: 40px;
  right: auto;
  z-index: 10;
}

ul.list-social {
  display: flex;
  flex-direction: column;
  -webkit-box-align: center;
  list-style: none;
  margin: 0;
  padding: 0;
  align-items: center;
}

ul.list-social li {
  padding: 20px;
  padding-bottom: 0;
}

ul.list-social li a {
  color: #a8b2d1;
  display: inline-block;
  text-decoration: none;
  text-decoration-skip-ink: auto;
  position: relative;
}

ul.list-social li a:hover {
  color: #64ffda;
  transform: translateY(-3px);
  transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
}


ul.list-social li:last-of-type::after {
  content: "";
  display: block;
  width: 1px;
  height: 90px;
  margin: 0px auto;
  background-color: #a8b2d1;
  margin-top: 20px;
}

.emailsant a {
  margin: 20px auto;
  padding: 10px;
  letter-spacing: 0.1em;
  writing-mode: vertical-rl;
  font-size: 14px;
  color: #a8b2d1;
  line-height: 18px;
  font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", monospace;
  text-decoration: none;
}

.emailsant a:hover {
  color: #64ffda;
  transform: translateY(-3px);
  transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.emailsant::after {
  content: "";
  display: block;
  width: 1px;
  height: 90px;
  margin: 0px auto;
  background-color: #a8b2d1;
}

.emailsant {
  display: flex;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
  position: relative;
}

a.saybutton {
  color: #64ffda;
  text-decoration: none;
}

.footer_social ul {
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
  padding: 0px;
  margin: 0px;
  list-style: none;
}

.footer_social ul li a {
  color: #a8b2d1;
}



.countItem ul {
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
  padding: 0px;
  margin: 0px;
  list-style: none;
}

.countItem ul li {
  margin: 0px 6px;
  position: relative;
  counter-increment: item 1;
  font-size: 13px;
  font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", monospace;
}

.countItem ul li a {
  color: #fff;
  text-decoration: none;
  font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", monospace;
}

.resumeitem nav {
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
  width: 100%;
  flex-direction: column;
  color: #fff;
  font-family: var(--font-mono);
  text-align: center;
}

.resumeitem ul {
  list-style: none;
  padding-left: 0px;
}

.resumeitem ul li {
  position: relative;
  margin: 0px auto 20px;
  counter-increment: item 1;
  font-size: clamp(18px, 4vw, 18px);
  font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", monospace;
  color: #8892b0;
  font-weight: 600;
}

.resumeitem ul li::before {
  content: "0" counter(item) ".";
  display: block;
  margin-bottom: 5px;
  color: #64ffda;
  font-size: 15px;
}

.resumeitem ul li a {
  text-decoration: none;
  color: #fff;
  display: inline-block;
  text-decoration: none;
  text-decoration-skip-ink: auto;
  color: inherit;
  position: relative;
  transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
  width: 100%;
}

.mobileResumedDownload {
  text-align: center;
}



/*********Bio Fade In Down *****************/
.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
}

@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.two {
  -webkit-animation-delay: 1s;
  -moz-animation-delay: 1s;
  animation-delay: 1s;
}

.animate {
  -webkit-animation-duration: 0.9s;
  animation-duration: 0.9s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}